@model DataModel.AppintmentDataModel


<div class="row">
    <div class="col-md-4">
        <form asp-action="@Url.Action("Create","VaccinationReservation")">
            <table class="table">
                <tr>
                    <td> <label asp-for="AppointmentDate" class="control-label"></label></td>
                    <td>
                        <input asp-for="AppointmentDate" class="form-control" />
                    </td>
                    <td>
                        <span asp-validation-for="AppointmentDate" class="text-danger"></span>
                    </td>
                </tr>

                <tr>
                    
                    <td>
                        <input asp-for="RegistrarIds" class="form-control" style="visibility:hidden" />
                    </td>
                    <td>
                        <span asp-validation-for="RegistrarIds" class="text-danger"></span>
                    </td>
                    </tr>
                    </table>

            <div class="form-group">
                <input type="button" value="Create" onclick=" return populateSelected()" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
