@model DataModel.AppintmentDataModel


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="formAssignAppointment">
            <div class="form-group">
                <label asp-for="AppointmentDate" class="control-label"></label>

                <input asp-for="AppointmentDateAsString" class="form-control" />

                <input asp-for="RegistrarIds" class="form-control" style="visibility:hidden" />
                <label asp-for="VaccinationType" class="control-label"></label>
                <select asp-items="@ViewBag.VaccinationTypes" id="ddlVaccinationType"></select>

                <input asp-for="VaccinationType" class="form-control" style="visibility:hidden" />

                <span asp-validation-for="RegistrarIds" class="text-danger"></span>
                <span asp-validation-for="VaccinationType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="button" value="Create" onclick="return populateSelected()" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
  
}
