
@model DataModel.RegistrarSearchDataModel
@{
   

    <div class="row">
        <div class="col-md-4">
            <form asp-action="ExecuteRegistrarSearch" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label>Registrar</label>
                    <input type="text" class="form-control" asp-for="SearchText" />
                    <span asp-validation-for="SearchText" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </form>
            @Html.Partial("RegistrarSearchExecutionResult", Model.Registrars)
            
           
        </div>
    </div>

}
@section Scripts {
<script>
    function populateSelected() {
       
        var cb = $('.select-registrar')
        var selected = "", tr, td, registrarId
        $.each(cb,function (item, index) {
            debugger;
            var cb = $(index)
            if (cb.is(":checked")) {
                tr = cb.closest('tr')
                td = tr.find(' td:nth-child(1)')
                registrarId = td.prop("innerText")
                if (selected == "") {
                    selected = selected + registrarId
                }
                else {
                    selected = selected +","+registrarId
                }
            }

        })
        $("#RegistrarIds").val(selected)

       
    }
    //$(document).ready(function () {
    //    $("#AppointmentDate").datepicker({})
    //})
    
</script>

}