
@model DataModel.RegistrarSearchDataModel
@{


    <div class="row">
        <div class="col-md-4">
            <form asp-action="ExecuteRegistrarSearch" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label>Registrar</label>
                    <input type="text" class="form-control" asp-for="SearchText" />
                    <span asp-validation-for="SearchText" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </form>
            @Html.Partial("RegistrarSearchExecutionResult", Model.Registrars)


        </div>
    </div>

}
@section Scripts {

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>



    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script>
        function populateSelected() {
           
            debugger;
            var cb = $('.select-registrar')
            var selected = "", tr, td, registrarId
            $.each(cb, function (item, index) {

                var cb = $(index)
                if (cb.is(":checked")) {
                    tr = cb.closest('tr')
                    td = tr.find(' td:nth-child(1)')
                    registrarId = td.prop("innerText")
                    if (selected == "") {
                        selected = selected + registrarId
                    }
                    else {
                        selected = selected + "," + registrarId
                    }
                }

            })
            $("#RegistrarIds").val(selected)
            //alert('2')
            //$("form").validate();
            ////alert('3')
            ////

            //if ($("form").valid()) {
            //    alert('31')
               
            //}
            $("#formAssignAppointment").submit()


        }
        $(document).ready(function () {
            $("#AppointmentDateAsString").datepicker({
                dateFormat: "dd/mm/yy",
                minDate: new Date(),
                onSelect: function (text) {
                    $("#AppointmentDateAsString").val(text)
                }

            })
            $("#ddlVaccinationType").change(function () {
                $("#VaccinationType").val($(this).val() > 0 ? $(this).val() : "")


            })
        })

    </script>

    }