@model DataModel.RegistrarsDataModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RegistrarsRepository</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ValidTelephone" type="text" value="0" style="visibility:visible" class="form-control" />
                <span asp-validation-for="ValidTelephone" class="text-danger"   ></span>
            </div>
                <input type="hidden" value="0" id="txtprocessed" />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<div id="divValidating">

</div>
<div id="divValidatinonResult">

</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script>
    var telephoneCheckerAPIUrl= '@Url.Action("CallTelephoneGeneratorFunction", "Registrars")'

            $(function () {
                $('#Telephone').change(

                    function ()
                    {
                        $('#divValidatinonResult').html("")
                        $("#divValidating").html("validate")
                        var loop = setInterval(function () {
                            if ($('#txtprocessed').val() == '1')
                            {
                                $("#divValidating").html("")
                                clearInterval(loop)
                            }
                           
                        },1000)
                        setTimeout(
                            $.ajax({
                                url: telephoneCheckerAPIUrl,
                                data: { "Number": $('#Telephone').val() },
                                async: true,
                                cache: false
                                  })
                                    .done(function (html)
                           {
                        //                debugger;
                        //               // $('#txtprocessed').val('1')
                                        $("#divValidating").html("")
                                     if (html.success.isSuccessStatusCode) {
                                    
                                      $("#ValidTelephone").val('1')
                                      }
                                     else
                                       {
                                         $('#divValidatinonResult').html("Invalid Phone Number")
                                       
                                       }
                           }
                               
                             ),3000)
                    })
            })
        </script>
    }
